@import "../_variables";

.explanation {
  color: $red;
}

.container {
  display: flex;
  justify-content: flex-start;
  width: calc(100% - #{$side-gutter}*2);
  .lists {
    width: 40%;
    padding-inline-start: 0;
    .list {
      list-style: none;
      width: 100%;
      padding: 8px;
      margin-bottom: 8px;
      background-color: $light-gray;
      border-radius: 4px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      cursor: pointer;
      &:hover {
        background-color: $gray;
      }
      &:active {
        background-color: $red;
      }
    }
    
  }
  .pickup {
    width: 300px;
    margin-left: $side-gutter;
  }
}

