/*****************
Color set
******************/
$black: #222222;
$gray: #f2f2f2;
$red: #ff4747;

$primary-color: #00aa96; //ヘッダーカラー
$secondary-color: #ff6464;


/*****************
Base Font Family
******************/
$font-family: "Avenir", "Helvetica Neue", "Helvetica", "Arial", "Hiragino Sans",
  "ヒラギノ角ゴシック", YuGothic, "Yu Gothic", "メイリオ", Meiryo,
  "ＭＳ Ｐゴシック", "MS PGothic";

/*****************
Layout
******************/
$side-gutter: 48px;